App {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

body {
   /* padding: 40px; */
   /* padding-top: 0px; */
   /* border: 4px solid black; */
}

@media only screen and (max-width: 800px) {
   .homeContent{
      padding: 20px;
   }
   .header {
      font-size: 4vmax !important;
      width: 100% !important;
   }

   .home {
      display: none;
   }

   .allContent {
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      justify-content: center !important;
   }

   .filsea {
      /* border: 1px solid black !important; */
      margin-top: 10px !important;
      gap: 20px !important;
      width: 100% !important;
      text-align: center !important;
      flex-direction: column !important;
      align-items: center !important;
   }

   .filter {
      gap: 20px !important;
      margin: 0px !important;
      width: 100% !important;
      flex-direction: column !important;
      align-items: center !important;
   }

   .filter>select,
   .search>input {
      outline: 2px solid black !important;
      border: none !important;
      font-size: 3vmax !important;
      width: 100% !important;
      background-color: rgba(163, 158, 158, .3) !important;
      color: black !important;
   }

   .search {
      /* padding: 10px !important; */
      width: 100% !important;
      margin-right: 0px !important;
      flex-direction: column !important;
      align-items: center !important;
      /* padding-left: 30px !important; */
   }

   .search>input {
      padding: 10px !important;
      width: 96% !important;
      font-size: 3vmax !important;
   }

   .search>input::placeholder {
      color: black !important;
   }

   .content {
      /* display:contents !important; */
      /* justify-content: center !important; */
      /* align-items: center !important; */
      text-align: center !important;
      width: 100% !important;
      gap: 10px !important;
      /* border: 1px solid black !important; */
   }

   .card {
      width: 100% !important;
      margin: 10px !important;
      height: fit-content !important;
   }

   .card-title {
      height: 10% !important;
   }

   .card-data {
      /* display: flex !important; */
      flex-direction: column !important;
      align-items: center !important;
      justify-content: center !important;
      width: 90% !important;
      height: 90% !important;
   }

   .card-image {
      width: 100% !important;
      height: 40vmax !important;
      border-radius: 10px;
      border: .1px solid black;
      /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); */
   }

   .card-content {
      margin-top: 10px !important;
      width: 100% !important;
      max-height: 60% !important;
      border-top: 1px solid black !important;
      border-left: none !important;
   }

   .card-content>p {
      text-align: start !important;
      margin: 10px !important;
      font-size: 3.2vmax !important;
   }

   .pagination>button {
      font-size: 3.5vmax !important;
   }
}